.table {
    margin-bottom: 0px;
}
.las {
    overflow-y: auto;
    height: 360px;
    margin-top: -1px;
}
.table.tb-body tr:hover td {
	background-color: #efefef;
}
.paging_number {
	margin-left: 10px;
}