<!--
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <span ng-click="change_chart('year')" class="fc-button fc-button-month fc-state-default fc-corner-left fc-state-active">
            <span class="fc-button-inner">
                <span class="fc-button-content">Years</span>                
            </span>
        </span>
        <span ng-click="change_chart('month')" class="fc-button fc-button-agendaWeek fc-state-default">
            <span class="fc-button-inner">
                <span class="fc-button-content">months in year</span>            
            </span>
        </span>
        <span ng-click="change_chart('day')" class="fc-button fc-button-agendaDay fc-state-default fc-corner-right">
            <span class="fc-button-inner">
                <span class="fc-button-content">days in month</span>                
            </span>
        </span>
    </div>
</div>
-->
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9">
        <form class="form-inline" role="form">
            <div class="btn-group">      
              <button ng-show="type == 1" type="button" class="btn btn-default active">Cá nhân</button>
              <button ng-click="changeType(1)" ng-show="type == 0" type="button" class="btn btn-default ">Cá nhân</button>
              <button ng-show="type == 0" type="button" class="btn btn-default active">Phòng</button>       
              <button ng-click="changeType(0)" ng-show="type == 1" type="button" class="btn btn-default">Phòng</button> 
            </div> 
            
            <div class="btn-group visible-xs pull-left">      
              <button ng-show="skin == 1" type="button" class="btn btn-default active">Tháng</button>
              <button ng-click="changeSkin(1)" ng-show="skin == 0" type="button" class="btn btn-default ">Tháng</button>
              
              <button ng-show="skin == 0" type="button" class="btn btn-default active">Năm</button>       
              <button ng-click="changeSkin(0)" ng-show="skin == 1" type="button" class="btn btn-default">Năm</button> 
            </div>
            
          <div class="form-group" ng-show="skin == 1">
            <select ng-change="current_month_change()" class="form-control input-sm" ng-model="current_month" ng-options="m.id as m.name for m in months"></select>
          </div>
          <div class="form-group">
            <select ng-change="current_year_change()" class="form-control input-sm" ng-model="current_year" ng-options="y.id as y.name for y in years"></select>
          </div>
        </form>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="btn-group pull-right hidden-xs">      
          <button ng-show="skin == 1" type="button" class="btn btn-default active">Tháng</button>
          <button ng-click="changeSkin(1)" ng-show="skin == 0" type="button" class="btn btn-default ">Tháng</button>
          
          <button ng-show="skin == 0" type="button" class="btn btn-default active">Năm</button>       
          <button ng-click="changeSkin(0)" ng-show="skin == 1" type="button" class="btn btn-default">Năm</button> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="chartContainer" style="width: 100%; height: 440px;"></div>
    </div>
</div>

