  <div class="div-popup div-add-popup" >
        <div class="row">
            <div class="col-md-12"><span ng-click="popup_close()" class="pull-right glyphicon glyphicon-remove" ></span></div>
        </div>
        <div class="row">
            
        </div>
        <div class="row" style="padding-top: 10">
            <div class="col-md-12">
                <div class=" pull-right">
                    <button class="btn btn-primary">Thêm</button>&nbsp;&nbsp<button ng-click="popup_close()"  class="btn btn-danger">Hủy bỏ</button>
                </div>
                
            </div>        
        </div>
  </div>