.navbar-collapse .container-fluid {
    padding-right: 15px;
}
.container-fluid {
    padding-left: 0px; 
    padding-right: 0px; 
}

.parent-nopadding div {
    padding: 0px;
}
.parent-nopadding div label {
    margin-right: 5px;
}
.no-padding {
    padding: 0px;
}
a {
    color: #858585;
}
a:hover, a:focus {
    color: #009476;
}
.row {
    margin-bottom: 3px;
    margin-right: 0px;
    margin-left: 0px;
}
.navbar {
    border-radius:  0px;
    position: relative;
    min-height: 30px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-inverse {
    background-color: #41B39C;
    border-color: #41B39C;
    
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 4px 15px;
}
.navbar-brand {
    padding: 0 15px;
    height: auto;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #009476;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #009476;
    color: #fff;
}
ul.nav-top>li>a{
    color: #fff!important;
}
li.border-right {
    border-right: 1px solid rgb(219, 214, 214);
}
.action-nav {
    padding: 0px 0 0 0;
    background: #CCCCCC;
    background: -moz-linear-gradient(#CCCCCC, #E8E8E8);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #E8E8E8),color-stop(1, #CCCCCC));
    background: -webkit-linear-gradient(#CCCCCC, #E8E8E8);
    background: -o-linear-gradient(#CCCCCC, #E8E8E8);
    background: -ms-linear-gradient(#CCCCCC, #E8E8E8);
    background: linear-gradient(#E5EBEC, #E8E8E8);

    -moz-box-shadow: 0 1px 1px #9c9c9c;
    -webkit-box-shadow: 0 1px 1px #9c9c9c;
    box-shadow: 0 1px 1px #9c9c9c;
    color: black;
    margin-bottom: 5px;
    height: 50px;
  
}

ul.action-icon li {
    float: left;
    list-style: none;
    border-left: 1px solid rgb(219, 214, 214);
    padding: 15px 15px 8px 15px;
}
ul.action-icon li a{
    font-size: 20px;
}
ul.action-icon li:hover {
    background: rgba(214, 214, 214, 0.35);
}
/*tabale*/
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 3px;
}
.table>tbody>tr:nth-child(odd)  {
	background-color: #f9f9f9;
}
.table td, .table th {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
/*input*/
.form-control {
    height: 25px;
    border-radius: 0px;
    width: auto;
    padding: 0px 5px;
    display: inline;
}
select.form-control {
    padding-left: 0px;
}
.input-disable[disabled] {
    background-color: white;
    cursor: auto;
}
input[type="text"] {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
}

/*box*/
.box-header {
    border: none;
    padding-top: 5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 12px;
    min-height: 12px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );
}
.well {
    height: 30px;
    overflow: hidden;
    padding: 0px 10px;
    margin-bottom: 0px;
}
.well .pull-left {
    line-height: 2em;
}
span.lb-required {
    color: #E74C49;
    margin-left: 5px;
    font-weight: bold;
}
.box-content {
    padding: 10px;
}
.box {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}
/**/
.pagination {
    margin: 0px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143; 
    text-decoration: none;
    color: #858585;
    background-color: transparent; 
    border: 0px;
    margin-left: -1px;
    font-weight: normal;
    font-size: 14px;
}
.pagination>li>a.active{
    color: #009476;
    font-weight: bold;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #009476;
}
.pagination>li>a:hover {
    background-color: transparent;
}
/*
* has error
*/
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #E74C49;
}
.has-error .form-control, .has-error .form-control:focus {
    border-color: #E74C49;
}
/*
* block header
*/
.block-heder {
    position: fixed; width: 100%; z-index: 1000; top: 0px;
}
.content-main {
    margin-top:100px;
    padding-left: 15px;
}
    .box-content .row {
            margin-left: 0px;
            margin-right: 0px;
        }
        .box-content .col-label {
            background: #E8E8E8;
        }
        .box-content .col-label label {
            
        }
        .box-content .col-input {
            padding-left: 5px;
        }
        .box-content .col-input input[type='text'], .box-content .col-input select {
            width: 80%;
        }
/*
* screen orver
*/
#overscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(10, 10, 10, 0.1);
    z-index: 9999;
    top: 0px;
    left: 0px;
}
/*
* box popup
*/
.box-popup {
    border-radius: 3px;
    background: white;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    color: #333;
    width: 400px;

    padding: 0;
    position: relative;
    z-index: 0;
    min-height: 100px;
    /*
    -webkit-animation: fontbulger 5s infinite;
    -moz-animation:    fontbulger 5s infinite; 
    -o-animation:      fontbulger 5s infinite; 
    animation:         fontbulger 5s infinite; */
    transition: all 0.5s;
    
}
.cotent {
    position: relative;
    transition: all 0.5s;
}
.apple {
    left: -10px;
    left: 0px;
}

@keyframes fontbulger {
      0% {
        background: red;
      }
      30% {
        background: green;
      }
      100% {
        background: blue;
      }
}
.ui-datepicker-trigger {
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.ui-datepicker-trigger:hover {
    cursor: pointer;
}



/*
* popup content 
*/
.box-popup .cotent {
    padding: 10px;
}
.box-popup .cotent .msg {
    padding: 10px 0;
}
.box-popup .cotent .action {
    border-top: 1px solid #ddd;
    padding: 10px 0 0 0;
}
.box-popup #btnModelFalse {
    margin-right: 5px;
}

